@import '~antd/dist/antd.css';

.aula{
  background-color: #eee
}

.hoverable:hover{
  cursor: pointer;
  background-color: rgb(197, 197, 197);
  color: #555
}
.ant-form-item{
  padding: 0 1em 0 1em !important
}
/*
  rgb(127, 226, 107);
  aaaa
*/