@import '~antd/dist/antd.css';

.aula{
  color: white
}

.ant-card-body{
  padding: 10% !important;
  height: 5rem;
  line-height: 2.5rem;
}

.hoverable:hover{
  cursor: pointer;
  color: #bbb;
  margin: 1em solid black 
}

.timeTable{
  line-height: -2.5rem !important;

}
.ant-notification{
  z-index: 2000;
}
.ant-form-item{
  padding: 0 1em 0 1em !important
}
/*
  rgb(127, 226, 107);
  aaaa
*/