@import '~antd/dist/antd.css';

.aula{
  background-color: #eee
}

.hoverable:hover{
  cursor: pointer;
  background-color: rgb(197, 197, 197);
  color: #555
}

/*
  rgb(127, 226, 107);

*/
.ant-layout-header{
  height: 100%!important
}
@media only screen and (min-width: 600px) {
  .ant-form-item{
    padding: 0 1em 0 1em !important
  }
  .ant-layout-header{
    padding: 0
  }
}