@import '~antd/dist/antd.css';

main{
  display: flex;
  padding: 0 1em 1em 1em;
}

.main{
  width:100%;
  padding: 0 1em 1em 1em;
}

.aula{
  background-color: #eee
}

.hoverable:hover{
  cursor: pointer;
  background-color: rgb(197, 197, 197);
  color: #555
}